root = true

[*]
indent_style = tab
indent_size = 8
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.txt]
trim_trailing_whitespace = false

# Bash
[*.bash*]
indent_style = tab

# Erlang
[*.erl]
indent_style = space
indent_size = 4

# Haskell
[*.{hs,cabal}]
indent_style = space
indent_size = 4

# Java
[*.java]
indent_style = space
indent_size = 4

# JavaScript
[*.{js,json}]
indent_style = space
indent_size = 2

# Makefile
[{Makefile,*.mk}]
indent_style = tab

# Nginx
[nginx.conf]
indent_style = space
indent_size = 2

# PKGBUILD
[PKGBUILD]
indent_style = space
indent_size = 2

# Python
[*.py]
indent_style = space
indent_size = 4

# PHP
[*.{php,phtml}]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
# charset = utf-8
charset = latin1

# Ruby
[*.rb]
indent_style = space
indent_size = 2

# Puppet
[*.pp]
indent_style = space
indent_size = 2

# YAML
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# Protobuf
[*.proto]
charset = utf-8
indent_style = space
indent_size = 4
