[Desktop Entry]
Type=Application
Name=Mutt
GenericName=Mail Client
NoDisplay=false
Exec=termite --name mutt --class mutt -e neomutt
Icon=mutt
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/mailto;
Categories=ConsoleOnly;Network;Email
