[Desktop Entry]
Type=Application
Name=Kanban
GenericName=JIRA ncurses app
NoDisplay=false
Exec=termite --name kanban --class kanban -e "kanban -f /home/anton/.kanban.local.json"
